{{/*
	SPDX-License-Identifier: AGPL-3.0-only
	SPDX-FileCopyrightText: Copyright (c) 2025 Runxi Yu <https://runxiyu.org>
*/}}
{{- define "451" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{- template "head_common" . -}}
		<title>451 Unavailable For Legal Reasons &ndash; {{ .global.forge_title }}</title>
	</head>
	<body class="451">
		{{- template "header" . -}}
		<main>
			<div class="padding-wrapper complete-error-page">
				<h1>451 Unavailable For Legal Reasons</h1>
				<p>{{- .complete_error_msg -}}</p>
			</div>
		</main>
		<footer>
			{{- template "footer" . -}}
		</footer>
	</body>
</html>
{{- end -}}
