{{/*
	SPDX-License-Identifier: AGPL-3.0-only
	SPDX-FileCopyrightText: Copyright (c) 2025 Runxi Yu <https://runxiyu.org>
*/}}
{{- define "header" -}}
<header id="main-header">
	<div id="main-header-forge-title">
		<a href="/">{{- .BaseData.Global.ForgeTitle -}}</a>
	</div>
	<nav id="breadcrumb-nav">
		{{- $path := "" -}}
		{{- $url_segments := .BaseData.URLSegments -}}
		{{- $dir_mode := .BaseData.DirMode -}}
		{{- $ref_type := .BaseData.RefType -}}
		{{- $ref := .BaseData.RefName -}}
		{{- $separator_index := .BaseData.SeparatorIndex -}}
		{{- if eq $separator_index -1 -}}
			{{- $separator_index = len $url_segments -}}
		{{- end -}}
		{{- range $i := $separator_index -}}
			{{- $segment := index $url_segments $i -}}
			{{- $path = printf "%s/%s" $path $segment -}}
			<span class="breadcrumb-separator">/</span>
			<a href="{{ $path }}{{ if or (ne $i (minus (len $url_segments) 1)) $dir_mode }}/{{ end }}{{- if $ref_type -}}?{{- $ref_type -}}={{- $ref -}}{{- end -}}">{{ $segment }}</a>
		{{- end -}}
	</nav>
	<div id="main-header-user">
		{{- if ne .BaseData.UserID "" -}}
			<a href="/-/users/{{- .BaseData.UserID -}}/">{{- .BaseData.Username -}}</a>
		{{- else -}}
			<a href="/-/login/">Login</a>
		{{- end -}}
	</div>
</header>
{{- end -}}
