html {
	font-family: sans-serif;
	--link-color: hsl(320, 50%, 36%);
	--light-text-color: hsl(0, 0%, 65%);
	--darker-border-color: hsl(0, 0%, 72%);
	--lighter-border-color: hsl(0, 0%, 85%);
	--text-decoration-color: hsl(0, 0%, 72%);
	--darker-box-background-color: hsl(0, 0%, 92%);
	--lighter-box-background-color: hsl(0, 0%, 95%);
}
html, code, pre {
	font-size: 1rem; /* TODO: Not always correct */
}
footer {
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0 1rem;
	width: fit-content;
	text-align: center;
	color: var(--light-text-color);
}
footer a:link, footer a:visited {
	color: inherit;
}
.padding-wrapper {
	margin: 1rem auto;
	max-width: 50em;
	padding: 0 1rem;
}
.padding-wrapper > * {
	width: 100%;
}
a:link, a:visited {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}
code:not(pre > code) {
	background-color: var(--lighter-box-background-color);
	border-radius: 2px;
	padding: 2px;
}
table {
	border: var(--lighter-border-color) solid 1px;
	border-spacing: 0px;
	border-collapse: collapse;
}
td, th {
	padding: 3px 5px;
	border: var(--lighter-border-color) solid 1px;
}
th {
	background-color: var(--lighter-box-background-color);
}
tr.title-row > th {
	background-color: var(--darker-box-background-color);
}
