{{/*
	SPDX-License-Identifier: AGPL-3.0-only
	SPDX-FileCopyrightText: Copyright (c) 2025 Runxi Yu <https://runxiyu.org>
*/}}
{{- define "501" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{- template "head_common" . -}}
		<title>501 Not Implemented &ndash; {{ .global.forge_title }}</title>
	</head>
	<body class="501">
		{{- template "header" . -}}
		<div class="padding-wrapper complete-error-page">
			<h1>501 Not Implemented</h1>
			<hr />
			<address>Lindenii Forge</address>
		</div>
		<footer>
			{{- template "footer" . -}}
		</footer>
	</body>
</html>
{{- end -}}
