{{- define "header" -}}
<header id="main-header">
	<div id="main-header-forge-title">
		<a href="/">{{ .global.forge_title }}</a>
	</div>
	<div id="main-header-user">
		{{ if ne .user_id "" }}
			<a href="/:/users/{{ .user_id }}">{{ .username }}</a>
		{{ else }}
			<a href="/:/login/">Login</a>
		{{ end }}
	</div>
</header>
{{- end -}}
