{{/*
	SPDX-License-Identifier: AGPL-3.0-only
	SPDX-FileContributor: Runxi Yu <https://runxiyu.org>
*/}}
{{- define "header" -}}
<header id="main-header">
	<div id="main-header-forge-title">
		<a href="/">{{- .global.forge_title -}}</a>
	</div>
	<nav id="breadcrumb-nav">
		{{- $path := "" -}}
		{{- $url_segments := .url_segments -}}
		{{- $dir_mode := .dir_mode -}}
		{{- $ref_type := .ref_type -}}
		{{- $ref := .ref_name -}}
		{{- range $i := .separator_index -}}
			{{- $segment := index $url_segments $i -}}
			{{- $path = printf "%s/%s" $path $segment -}}
			<span class="breadcrumb-separator">/</span>
			<a href="{{ $path }}{{ if or (ne $i (minus (len $url_segments) 1)) $dir_mode }}/{{ end }}{{- if $ref_type -}}?{{- $ref_type -}}={{- $ref -}}{{- end -}}">{{ $segment }}</a>
		{{- end -}}
	</nav>
	<div id="main-header-user">
		{{- if ne .user_id_string "" -}}
			<a href="/:/users/{{- .user_id_string -}}">{{- .username -}}</a>
		{{- else -}}
			<a href="/:/login/">Login</a>
		{{- end -}}
	</div>
</header>
{{- end -}}
