{{- define "repo_header" -}}
<a href="/g/{{ .group_name }}/">{{ .group_name }}</a>
/
<a href="/g/{{ .group_name }}/repos/">repos</a>
/
<a href="/g/{{ .group_name }}/repos/{{ .repo_name }}/">{{ .repo_name }}</a>
{{- end -}}
