{{- define "repo_header" -}}
<a href="/">Lindenii Forge</a>
/
<a href="/{{ .group_name }}/">{{ .group_name }}</a>
/
<a href="/{{ .group_name }}/:">:</a>
/
<a href="/{{ .group_name }}/:/repos/">repos</a>
/
<a href="/{{ .group_name }}/:/repos/{{ .repo_name }}/">{{ .repo_name }}</a>
{{- end -}}
