{{- define "group_repos" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head_common" . }}
		<title>Repos in {{ .group_name }} &ndash; Lindenii Forge</title>
	</head>
	<body class="group-repos">
		<div class="padding-wrapper">
			<h1>
			Repos in {{ .group_name }}
			</h1>
			<ul>
				{{- range .repos }}
					<li>
						<a href="{{ . }}/">{{ . }}</a>
					</li>
				{{- end }}
			</ul>
		</div>
		<footer>
			{{ template "footer" . }}
		</footer>
	</body>
</html>
{{- end -}}
