{{- define "index" -}}
<!DOCTYPE html>
<html>
	<head>
		{{ template "head_common" . }}
		<title>Groups &ndash; Lindenii Forge</title>
	</head>
	<body class="index">
		<div class="padding-wrapper">
			<h1>
				Groups
			</h1>
			<ul>
				{{- range .groups }}
					<li>
						<a href="g/{{ . }}/repos/">{{ . }}</a>
					</li>
				{{- end }}
			</ul>
		</div>
		<footer>
			{{ template "footer" . }}
		</footer>
	</body>
</html>
{{- end -}}
