{{- define "index" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head_common" . }}
		<title>Index &ndash; Lindenii Forge</title>
	</head>
	<body class="index">
		{{ template "header" . }}
		<div class="padding-wrapper">
			<table class="wide">
				<thead>
					<tr>
						<th colspan="2" class="title-row">
							Groups
						</th>
					</tr>
				</thead>
				<tbody>
					{{- range .groups }}
						<tr>
							<td>
								<a href="{{ .Name }}/:/repos/">{{ .Name }}</a>
							</td>
							<td>
								{{ .Description }}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
		<div class="padding-wrapper">
			<table class="wide">
				<thead>
					<tr>
						<th colspan="2" class="title-row">
							Info
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">SSH Public Key</th>
						<td><code>{{ .global.server_public_key_string }}</code></td>
					</tr>
					<tr>
						<th scope="row">SSH Fingerprint</th>
						<td><code>{{ .global.server_public_key_fingerprint }}</code></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer>
			{{ template "footer" . }}
		</footer>
	</body>
</html>
{{- end -}}
