{{/*
	SPDX-License-Identifier: AGPL-3.0-only
	SPDX-FileCopyrightText: Copyright (c) 2025 Runxi Yu <https://runxiyu.org>
*/}}
{{- define "index" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{- template "head_common" . -}}
		<title>Index &ndash; {{ .global.forge_title -}}</title>
	</head>
	<body class="index">
		{{- template "header" . -}}
		<div class="padding-wrapper">
			<table class="wide">
				<thead>
					<tr>
						<th colspan="2" class="title-row">Groups</th>
					</tr>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					{{- range .groups -}}
						<tr>
							<td>
								<a href="{{- .Name | path_escape -}}/">{{- .Name -}}</a>
							</td>
							<td>
								{{- .Description -}}
							</td>
						</tr>
					{{- end -}}
				</tbody>
			</table>
			<table class="wide">
				<thead>
					<tr>
						<th colspan="2" class="title-row">
							Info
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">SSH public key</th>
						<td><code>{{- .global.server_public_key_string -}}</code></td>
					</tr>
					<tr>
						<th scope="row">SSH fingerprint</th>
						<td><code>{{- .global.server_public_key_fingerprint -}}</code></td>
					</tr>
					<tr>
						<th scope="row">Memory usage</th>
						<td>Allocated {{ .mem }} <a href="/:/gc/" class="btn btn-danger">Run the garbage collector</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer>
			{{- template "footer" . -}}
		</footer>
	</body>
</html>
{{- end -}}
