{{- define "login" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head_common" . }}
		<title>Login &ndash; Lindenii Forge</title>
	</head>
	<body class="index">
		{{ .login_error }}
		<div class="padding-wrapper">
				<form method="POST" enctype="application/x-www-form-urlencoded">
					<table>
						<thead>
							<tr>
								<th class="title-row" colspan="2">
									Password Authentication
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Username</th>
								<td class="tdinput">
									<input id="usernameinput" name="username" type="text" />
								</td>
							</tr>
							<tr>
								<th scope="row">Password</th>
								<td class="tdinput">
									<input id="passwordinput" name="password" type="password" />
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="th-like" colspan="2">
									<div class="flex-justify">
										<div class="left">
										</div>
										<div class="right">
											<input class="btn-primary" type="submit" value="Submit" />
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
		</div>
		<footer>
			{{ template "footer" . }}
		</footer>
	</body>
</html>
{{- end -}}
