{{- define "repo_tree_file" -}}
<!DOCTYPE html>
<html>
	<head>
		{{ template "head_common" . }}
		<link rel="stylesheet" href="/static/chroma.css" />
		<title>{{ .group_name }}/repos/{{ .repo_name }}/{{ .path_spec }} &ndash; Lindenii Forge</title>
	</head>
	<body class="repo-tree-file">
		<p>
			/{{ .path_spec }}
		</p>
		{{ .file_contents }}
		<footer>
			{{ template "footer" . }}
		</footer>
	</body>
</html>
{{- end -}}
